# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.pub-cache/
.idea/
android/.gradle/
*.iml

# VS Code settings
.vscode/

# Others
.flutter-plugins
.flutter-plugins-dependencies
fileHashes.lock

# Ignore Windows system folders
/AppData/
/Application Data/
